body {
        font-family: 'Inter', sans-serif;
      }


@keyframes flyInFancy {
  0% {
    opacity: 0;
    transform: translateX(-80px) scale(0.9);
  }
  60% {
    opacity: 1;
    transform: translateX(10px) scale(1.05);
  }
  100% {
    transform: translateX(0) scale(1);
  }
}

.animate-flyInFancy {
  animation: flyInFancy 1.4s ease-out forwards;
}





